html {
	overflow-x: hidden;
}
body, html {
	font-family: 'Arial', sans-serif;
	padding: 0 ;
	margin: 0;
	max-width: 100%;
}
/*Hero-banner section*/
h1{
	font-weight: 800;
	color: white;

}

h2{
	font-weight: 800;
	font-size: 50px;
}
p{
	font-weight: bold;
	font-size: 30px;
	margin: 30px 0;
}

.uniforms {
	position: absolute; left: 5vw; top: 10vh;
	text-shadow: black 0 0 7px;
	margin: 0;
	font-size: 80px;

}


.ctaalt{
	position: absolute; left: 5vw; bottom: 40vh;
}
.wrapper{
	width: 960px;
	margin: 0 auto;

}

.Hero-banner{
	background-color: #007FFF;
	min-height: 100vh;
	padding: 50px 20px;
	box-sizing: border-box;
	background-image: url("Sky.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;

}

.soldier_box img {
	width: 42vw;
	height: 90vh;
}
.soldier_box{
	width: 42vw;
	height: 90vh;
	position: absolute; bottom: 0; right: 0;
}
/*Navigation bar*/
nav{
	height: 95px;
	background-color: white;
	box-shadow: 0 5px 4px rgba(	0, 0, 0, .2);
	position: sticky;
	top: 0;
}
nav .logo{
		display: block;
		width: 400px;
		height: 40px;
		position: absolute; top: 50%; left: 0;
		margin-top: -20px;
		margin-left: 30px;
		background: url("LOGO.png") no-repeat 0 0;
		background-size: 100%;
}

nav ul{
	padding: 0;
	margin: 0;
}

nav ul li{
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

nav ul li a{
	display: block;
	width: 300px;
	height: 100%;
	box-sizing: border-box;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	color: #111111;
	text-decoration: none;
	padding: 35px 10px;

}
/*our-mission section*/
.our-mission {
	text-align: center;
}

.our-mission p{
	margin-bottom: 0;
	line-height: 40px;
	margin-top: 20px;
}

.our-mission h2{
	margin-bottom: 35px;
}


/*our-story section*/

.images{
	display: inline-block;
	border: 5px black solid;
	width: 960px;
	height: 410px;
	box-sizing: border-box;
	position: relative;
	}

.animation {
	width: 950px;
	height: 400px;
	position: absolute;
}

.owl {
	position: absolute;
	z-index: 10;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	border: 0;
	cursor: pointer;
}

.owl1 {
	bottom: 10px;
	left: 395px;
	transition: background-color 200ms;
}

.owl2 {
	bottom: 10px;
	left: 455px;
	transition: background-color 200ms;
}

.owl3 {
	bottom: 10px;
	left: 515px;
	transition: background-color 200ms;
}

.owl1:hover {
	background-color: #0094ff;
}

.owl2:hover {
	background-color: #0094ff;
}

.owl3:hover {
	background-color: #0094ff;
}

.state1,
.state2,
.state3 {
	display: none;
}

.img_state1 .state1{display: block;}
.img_state2 .state2{display: block;}
.img_state3 .state3{display: block;}


.our-story h3{
	font-size: 40px;
	font-weight: 800;
	margin: 25px 0 40px 0;
	display: block;
	text-align: center;

}



.separator {
	width: 470px;
	height: 10px;
	background-color: black;
	margin: 50px auto;
}

.WeBelieve{
	display: block;
	margin: 0 auto;
}

/*Buttons section*/

a.cta, button.cta{
	display: inline-block;
	text-decoration: none;
	
}

.readmore button{
	text-align: center;
	background: none;
	border:none;
	padding: 0;

}

.readmore a{
	text-align: center;
	text-decoration: none;
	color: #1366F8;
	padding-right: 0;
	padding-top: 0;
	padding-bottom: 0;
	font-weight: 800;
	font-size: 30px;
	padding: 30px 0  0 20px;
	display: block;
	width: 350px;
	height: 75px;

}

.readmore a:hover {
	color: #1324F8;
}

/*1a1a1a is black color*/
a.cta.alt, button.cta.alt{
	color: #1A1A1A; 
	background-color: #FFD400;
	border: 7px solid #1A1A1A;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
	font-size: 60px;
	border-radius: 10px;
	text-align: center;
	margin: 0;
	height: 150px;
	width: 700px;
	position: absolute;
	padding: 40px 30px 0 30px

}


/*popup section*/
.popup{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

.popup.show{
	display: block;
}
.popup .blanket{
	background-color: rgba(0, 0, 0, .7);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.popup .content {
	width: 960px;
	height: 540px;
	box-sizing: border-box;
	padding: 30px 40px;
	background-color: white;
	text-align: center;
	position: absolute;
	margin-left: -480px;
	left: 50%;
	top: 50%;
	margin-top: -270px;
	border-radius: 7px;
}

.popup h2{
	margin: 10px 0 20px;
}

.popup .cta{
	margin-top: 40px;
	width: 270px;
    height: 80px;
    border: none;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 1px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.popup .cta:hover{
	background-color: green;
}

.popup .close{
	width: 	50px;
	height: 50px;
	background-color: grey;
	background: url(Close_button_draft.png) no-repeat center center;
	background-size: 50%;
	position: absolute;	
	top: 10px;
	right: 10px;
	border-radius: 	50%;
	border: none;
	outline: none;
	overflow: hidden;
	text-indent: -999px;
	cursor: pointer;
}

.popup .row:after{
	content: '';
	display: table;
	clear: both;
}
.popup .item{
	float: left;
	width: 415px;
	margin-left: 40px;
	text-align: left;
}

.popup .item:first-child{
	margin-left: 0;

}

.popup .item label{
	display: block;
	font-size: 20px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.popup .item input[type="text"]{
	display: block;
	font-size: 30px;
	margin-bottom: 10px;
	border: 1px solid rgba(0, 0, 0, .2) ;
	height: 70px;
	box-sizing: border-box;
	width: 100%;
	padding: 15px 20px;
}
